
<div class="group fixed t-0 l-0 ml-4 mt-2 items-center flex gap-x-2 rounded-lg p-4 hover:bg-gray-50">
        <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">

                <svg xmlns="http://www.w3.org/2000/svg" class = "group-hover:text-indigo-600 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>


        </div>

        <div>
            <a href="http://localhost:8050/"  class="font-semibold text-gray-900">
                Home
                <span class="absolute inset-0"></span>
            </a>
        </div>


</div>


{{#each titles}}
<div class="flex items-center justify-center">
    <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        {{!-- <div class="flex justify-center md:justify-end -mt-16">
            <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
        </div> --}}
        <div>
            <h2 class="text-gray-800 text-3xl font-semibold">{{number}}</h2>
            <p class="mt-2 text-gray-600">{{message}}</p>
        </div>
        <div class="flex justify-between items-center mt-4 p-2">
            <a href="#" class="text-xl font-medium text-indigo-500">@{{nickname}}</a>
            <a href="/delete/title/{{id}}" class="text-sm font-medium text-red-600 hover:underline dark:text-blue-500">
                                    DELETE
            </a>
        </div>
        
    </div>
</div>

{{/each}}   